# Ignore node_modules for frontend (React, Angular, Vue, etc.)
frontend/node_modules/

# Ignore build artifacts for frontend
frontend/build/
frontend/dist/

# Ignore node_modules for backend (Node.js, Express, etc.)
backend/node_modules/

# Ignore build artifacts for backend (compiled code, build folders, etc.)
backend/build/
backend/dist/

# Ignore environment-specific files
frontend/.env
backend/.env

# Ignore log files
*.log

.env.e2e
.env
.vscode
dist